.node-red/.flows_980af5119f09.json.backup
[{"id":"89ae7c4.cbfd48","type":"tab","label":"info-api","disabled":false,"info":""},{"id":"c4ac635a.f7975","type":"http in","z":"89ae7c4.cbfd48","name":"GET /info","url":"/info","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["a5960fa0.5c73a"]]},{"id":"a5960fa0.5c73a","type":"template","z":"89ae7c4.cbfd48","name":"Greet user","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello, {{payload.user}} !","output":"str","x":290,"y":120,"wires":[["911b6d88.15c41"]]},{"id":"911b6d88.15c41","type":"http response","z":"89ae7c4.cbfd48","name":"","statusCode":"","headers":{},"x":450,"y":120,"wires":[]}]