.node-red/flows_16f3c0940c1b.json
[{"id":"44bf306.38cd7d","type":"tab","label":"Watson Integration","disabled":false,"info":""},{"id":"305725fb.10c86a","type":"discord-token","z":"","name":"Strider token"},{"id":"edb2a0da.73a0f","type":"discordMessage","z":"44bf306.38cd7d","name":"Strider-In","token":"305725fb.10c86a","x":92,"y":213,"wires":[["314c8ef.9970272"]]},{"id":"82dcfc71.50ff1","type":"discordSendMessage","z":"44bf306.38cd7d","name":"StriderOut","channel":"","token":"305725fb.10c86a","x":731,"y":256,"wires":[]},{"id":"314c8ef.9970272","type":"watson-conversation-v1","z":"44bf306.38cd7d","name":"BotIkka","workspaceid":"11a9902e-e67f-40fa-b62c-73020878a399","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":270,"y":213,"wires":[["250b272d.47c928"]]},{"id":"250b272d.47c928","type":"change","z":"44bf306.38cd7d","name":"GetOutput","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":531,"y":256,"wires":[["82dcfc71.50ff1"]]},{"id":"8aa2477c.1efd78","type":"comment","z":"44bf306.38cd7d","name":"Text only please...","info":"","x":295,"y":160,"wires":[]}]